# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE specific files
.vscode
.idea
.DS_Store

# Binaries and build artifacts
main
tmp
*.exe
*.exe~
*.dll
*.so
*.dylib

# Testing
*.test
*.out

# Go specific
go.work

# Other
bruno/ 